<div class="container mt-5" style="display: flex;align-content: stretch;justify-content: center;align-items: center;">
  <form action="/result" method="post" class="d-flex flex-column align-items-center">
    <input type="url" class="form-control" name="URL" placeholder="Input URL here..." required style="
    width: 500px;">
    <button type=" submit" class="btn btn-outline-primary btn-block mt-4" style="width: 15rem">Shorten</button>
  </form>
</div>