<div class="container mt-5" style="display: flex;align-content: stretch;justify-content: center;align-items: center;">
  <a href="{{ shortURL }}" target="_blank">
    <h5 id="shortURL">{{ shortURL }}</h5>
  </a>
  <div class="btn-group mt-2" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary mr-3" id="copyURL">Copy</button>
    <a href="/" type="button" class="btn btn-outline-success">Back</a>
  </div>
</div>